<!DOCTYPE html>

<html>

<head>

    <title>

        Forgot Password

    </title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>


<div class="auth-container">


    <div class="auth-box">


        <h1>

            Reset Password

        </h1>



        <form method="POST">


            <input type="text"

                   name="mobile"

                   placeholder="Mobile Number"

                   maxlength="10"

                   pattern="[0-9]{10}"

                   required>



            <input type="password"

                   name="password"

                   placeholder="New Password"

                   required>



            <button type="submit">

                Update Password

            </button>

        </form>



        <a href="/login">

            <button style="margin-top:15px;">

                Back

            </button>

        </a>

    </div>

</div>


</body>

</html>